# Ignore database files
*.sqlite3
*.db

# Ignore static files
/static/

# Ignore media files
/media/

# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore local settings
local_settings.py

# Ignore IDE files
.idea/
.vscode/

# Ignore pycache, test database, coverage reports
__pycache__/
.coverage

# Ignore logs
*.log

# Ignore environment files
.env.local
.env.*.local
/sureshenv
/.idea
.env

# Ignore migration files
/migrations/
